.App {
  /* text-align: center; */
  display:flex; 
  flex-direction:row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SalaryForm{
  margin-top: 132px;
  margin-left: 130px;
  background-color:#FAFAFA;
  width: 680px;
  height: 614px;
  border: groove;
  border-radius: 15px;

}
.SalaryDetails{
  margin-top: 132px;
  margin-left:10px;
  background-color: #FFFFFF  ;
  width: 480px;
  height: 614px;
  border: groove;
  border-radius: 15px;



}
